params {
    input_design = './DesignQpcr.csv'
    input_dir = './data/'
    outdir = './results'
    amplicon_pcr = './Amplicon_pcr.bed'
    genome_prefix = 'saccer3'
    mapper_id = 'BOWTIE'
    samtools_q_filter = 0
    bin_size = 1
}

process {
   container = ''
   executor = ''
   queue = ''
   withLabel: 'multiCpu' {
      cpus=6
   }
}
singularity {
   enabled = true
   autoMounts = true
}
